<%= content_tag :div, class: 'media', id: "comment-#{comment}" do %>
   <div class="col-md-4">
    <% @comments.each do |comment| %>
      <%= markdown comment.body %>

        <sub><i> Submitted <%= time_ago_in_words(comment.created_at) %> ago </i></sub></p>
      <% if policy(comment).destroy? %>
        <%= link_to "Delete", [comment.post, comment], method: :delete %>
      <% end %></p>
    <% end %>

   </div>
 <% end %>