<h1>Topics</h1>

<div class="row">
  <div class="col-md-8">
    <% if policy(Topic.new).create? %>
      <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
    <% end %>    
    <% @topics.each do |topic| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to topic.name, topic %>
          </h4>
          <small>
            <%= topic.description %></br>
          </small> 
            <sub><i>
              submitted <%= time_ago_in_words(topic.created_at) %> ago
            </i></sub>
        </div>
      </div>
    <% end %>
  </div>
</div>